* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul-escuro: #1D2D3E;
    --azul-claro: #5FCAD8 ;
    --verde-claro: #F0F9EE;
    --white: #FFFFFF;
    --button: #0A0E13;
}


header {
    background-color: var(--azul-escuro);
    top: 0; 
    width: 100%;
    position: fixed;

    height: 1440px 132px;

    
    left: 0;
    z-index: 1;

    object-fit: contain;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;

}

nav a {
    color: var(--white);
    font-family: 'Inter';
    font-weight: bold;
    font-size: 24px;

    padding: 50px 85px;
    text-decoration: none;
}

nav a:hover {
    color: var(--azul-claro);
}

nav img {
    max-width: 40%;

}

.cadastro {
    background-image: url(/imgs/wallpaper.png);
    background-size: cover;
    width: 100%;
    height: 100vh;

    margin-top: 11.5rem;
}
  
.cadastro h1{
    font-family: 'Staatliches';
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}
  

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form ::placeholder {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 24px;
    color: var(--white);
  }
  
 main input {
    padding: 20px ;
    width: 50%;
    border: none;
    border-radius: 15px;
    background: var(--azul-escuro);
    color: #fff;

    
  }
 
  main form p {
    margin-top: 70px;
    font-size: 14px;
  }
  
  mian form p a {
    color: #00bcd4;
    text-decoration: none;
  }